global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    log global
    option httplog

frontend http-in
    bind *:80
    # Deliberate CL.TE: haproxy 2.0 in this configuration follows
    # Content-Length and forwards Transfer-Encoding through to the backend,
    # which honors TE.  Smuggling possible via crafted requests.
    option http-server-close
    default_backend node-backend

backend node-backend
    server node1 127.0.0.1:8000
